#root{min-width: 1280px;}


/* input 공통 */
input{width: 100%; font-size: 13px; font-weight: 400; border-radius: 4px;}
input:not([type="submit"]){width: 100%; height: 40px; padding-inline: 10px; border: 1px solid var(--color-line); box-sizing: border-box;}
input:not([type="submit"])::placeholder{color: var(--color-button);}
input[type="submit"]{border: none;}


/* 셀렉트 박스 */
[class*="selectBox"]{width: 100%; position: relative;}
[class*="selectBox"] button{font-size: 13px; height: 32px; text-align: left; width: 100%; padding-inline: 10px; border-radius: 4px; box-sizing: border-box;}
[class*="selectBox"] > button{font-weight: 400; border: 1px solid var(--color-line); position: relative;}
[class*="selectBox"] > button::before{content: ''; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); width: 12px; aspect-ratio: 12 / 6; background: url(../images/icon-fill-arrow-gray.png) no-repeat center top / 100%; }
[class*="selectBox"] div{position: absolute; left: 0; top: calc(100% + 3px); width: 100%; padding: 5px; background-color: white; border-radius: 4px; box-sizing: border-box; box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.15); z-index: 1;}
[class*="selectBox"] div button:hover{background-color: var(--color-point02); font-weight: 700;}
.selectBox-year{max-width: 90px;}
.selectBox-year button::after{content: '년';}
.selectBox-month{max-width: 70px;}
.selectBox-month button::after{content: '월';}


/* 게시판 */
.boardBox{font-size: 13px; line-height: 16px;}
.boardBox :is(.board-top, .board-center li, .board-bottom){display: flex; align-items: center; gap: 10px; height: 56px; padding-inline: 10px;}
.boardBox :is(.board-top, .board-bottom){background-color: var(--color-face);}
.boardBox :is(.board-top, .board-bottom) *{font-weight: 700;}
/* .boardBox :is(.board-top *, .board-center li > *, .board-bottom *){} */
.boardBox .board-top > *:not(:last-child){display: flex; justify-content: space-between; align-items: center;}
.boardBox .board-top > *:not(:last-child)::after{content: ''; width: 1px; height: 16px; background-color: var(--color-line);}
.boardBox .board-center li{border-bottom: 1px solid var(--color-division);}
.boardBox .board-center li > *{font-weight: 400;}


/* 검색 */
.searchBox{padding: 20px; border: 1px solid var(--color-line);}
.searchBox > button{width: 100%; text-align: 15px; line-height: 18px; font-weight: 700; text-align: left;}
.searchBox form{margin-top: 30px; font-size: 13px; line-height: 16px;}
.searchBox form fieldset:not(:last-of-type){padding-bottom: 30px; border-bottom: 1px solid var(--color-line); margin-bottom: 30px;}
.searchBox form fieldset ul{display: flex; flex-wrap: wrap; gap: 30px 40px;}
.searchBox form fieldset ul li{width: calc((100% - 80px) / 3);}
.searchBox form fieldset ul li > label:first-child{font-weight: 700; display: block; margin-bottom: 10px;}
.searchBox form fieldset ul li div:has([type="checkbox"]){display: flex; flex-wrap: wrap; gap: 15px 30px;}
.searchBox form fieldset ul li div:has([type="checkbox"]) label{/* width: 130px; */ flex: 1; white-space: nowrap ;}


/* 서브 페이지 */
.subPage{display: flex;}
.subPage nav{width: 200px; flex-shrink: 0; min-height: calc(100vh - var(--headerHeight)); padding: 25px 20px; box-sizing: border-box; background-color: #333;}
.subPage nav :is(strong, b){color: white; font-weight: 700; display: block; margin-bottom: 15px;}
.subPage nav strong{font-size: 15px; line-height: 18px;}
.subPage nav b{font-size: 13px; line-height: 16px;}
.subPage nav strong:not(:first-of-type){padding-top: 25px; margin-top: 25px; border-top: 1px solid rgba(255, 255, 255, 0.1);}
.subPage nav ul li:not(:last-child){margin-bottom: 15px;}
.subPage nav ul li a{display: block; font-size: 13px; line-height: 16px; font-weight: 400; color: rgba(255, 255, 255, 0.7);}
.subPage nav ul li a.active{color: var(--color-point01);}
.subPage nav b + ul{margin-bottom: 30px;}
.subPage nav b + ul li a{padding-inline: 10px;}
.subPage nav p{font-size: 11px; line-height: 13px; color: rgba(255, 255, 255, 0.5); font-weight: 400; text-align: center; margin-top: 40px;}
.subPage > [class*="Page"]{flex: 1; padding: 30px 40px 60px;}
.subPage > [class*="Page"] > [class*="Page"] > div:not(:last-of-type){margin-bottom: 60px;}


/* 해더 */
header{position: sticky; top: 0; left: 0; width: 100%; height: var(--headerHeight); background-color: white; display: flex; align-items: center; padding-inline: 15px 20px; box-sizing: border-box; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10); z-index: 100;}
header h1{font-size: 15px; font-weight: 700; display: flex; align-items: center;}
header h1 a{max-width: 154px; margin-right: 30px;}
header h1 a img{width: 100%;}
header strong{margin-left: auto; font-size: 13px; font-weight: 700; line-height: 16px; margin-right: 30px;}
header > :is(a, button){font-size: 12px; font-weight: 400; color: var(--color-font03); height: 100%; display: flex; align-items: center;}
header > a{padding-right: 15px;}
header > button{padding-left: 15px; position: relative;}
header > button::before{content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 12px; background-color: var(--color-font03);}