/* 로그인 페이지 */
.signInPage{height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.signInPage h1{max-width: 164px; margin-bottom: 40px;}
.signInPage h1 img{width: 100%;}
.signInPage fieldset{width: 340px; padding: 80px 40px; background-color: white; box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.10); box-sizing: border-box;}
.signInPage fieldset h2{font-size: 20px; line-height: 24px; font-weight: 700; text-align: center; margin-bottom: 30px;}
.signInPage fieldset ul{margin-bottom: 30px;}
.signInPage fieldset ul li:not(:last-child){margin-bottom: 10px;}
.signInPage fieldset input[type="submit"]{width: 100%; height: 40px; color: white; background-color: var(--color-point01);}
.signInPage p{max-width: 100%; font-size: 12px; line-height: 14px; font-weight: 400; color: var(--color-button); margin-top: 20px;}


/* 메인 페이지 */
.mainPage{}
.mainPage > a{min-width: 100px; height: 40px; display: flex; align-items: center; padding-inline: 20px; background-color: var(--color-division); border-radius: 4px; margin-bottom: 60px;}
.mainPage > a::before{content: attr(title); font-size: 13px; font-weight: 700; margin-right: 40px;}
.mainPage > a::after{content: ''; order: -1; width: 16px; aspect-ratio: 1; background: url(../images/icon-notice.png) no-repeat center / cover; margin-right: 10px;}
.mainPage > a time{font-size: 12px; font-weight: 400; color: var(--color-font03); margin-right: 10px;}
.mainPage > a p{font-size: 13px; font-weight: 400;}
.mainPage > div{}
.mainPage > div:not(:last-of-type){margin-bottom: 60px;}
/* 텝 */
.mainPage > div > ul{display: flex; padding-bottom: 20px; border-bottom: 1px solid var(--color-line); margin-bottom: 20px;}
.mainPage > div > ul li:not(:first-of-type){display: flex; align-items: center;}
.mainPage > div > ul li:not(:first-of-type)::before{content: ''; width: 1px; height: 16px; background-color: var(--color-line); margin-inline: 12px;}
.mainPage > div > ul li button{font-size: 20px; line-height: 24px; font-weight: 700; color: var(--color-button);}
.mainPage > div > ul li button.active{color: var(--color-font01);}
/* 셀렉트 */
.mainPage .selectArea{display: flex; gap: 10px; margin-bottom: 20px;}
/* 정보 */
.mainPage .infoArea{display: flex; gap: 13px;}
.mainPage .infoArea .graphArea{flex: 1; padding-block: 20px;}
.mainPage .infoArea .graphArea div{width: 280px; aspect-ratio: 1; 
    border: 2px solid var(--color-point01); box-sizing: border-box; border-radius: 100%; margin-inline: auto;
}
.mainPage .infoArea .graphArea ul{max-width: 287px; margin-inline: auto; margin-top: 40px; display: flex; flex-wrap: wrap; row-gap: 12px;}
.mainPage .infoArea .graphArea ul li{display: flex; align-items: center; font-size: 12px; font-weight: 400;}
.mainPage .infoArea .graphArea ul li::before{content: ''; width: 16px; aspect-ratio: 1; margin-right: 4px; border-radius: 100%;}
.mainPage .infoArea .graphArea ul li:nth-child(3n + 1){width: 32%;}
.mainPage .infoArea .graphArea ul li:nth-child(3n + 2){width: 42.85%;}
.mainPage .infoArea .graphArea ul li:nth-child(3n + 3){width: 25.15%;}
.mainPage .infoArea .graphArea ul li:nth-child(1)::before{background-color: #FEA89B;;}
.mainPage .infoArea .graphArea ul li:nth-child(2)::before{background-color: #FDBF6C;}
.mainPage .infoArea .graphArea ul li:nth-child(3)::before{background-color: #FCD665;}
.mainPage .infoArea .graphArea ul li:nth-child(4)::before{background-color: #7DDB83;}
.mainPage .infoArea .graphArea ul li:nth-child(5)::before{background-color: #74CBCA;}
.mainPage .infoArea .graphArea ul li:nth-child(6)::before{background-color: #79C0FC;}
.mainPage .infoArea .graphArea ul li:nth-child(7)::before{background-color: #BF9DFC;}
.mainPage .infoArea .graphArea ul li:nth-child(8)::before{background-color: #FFA6D7;}
.mainPage .infoArea .graphArea ul li:nth-child(9)::before{background-color: #B78F8F;}
.mainPage .infoArea .boardBox{width: 520px; flex-shrink: 0;}
.mainPage .infoArea .boardBox :is(.board-top *, .board-center li > *, .board-bottom *):nth-child(1){flex: 50;}
.mainPage .infoArea .boardBox :is(.board-top *, .board-center li > *, .board-bottom *):nth-child(2){flex: 120;}
.mainPage .infoArea .boardBox :is(.board-top *, .board-center li > *, .board-bottom *):nth-child(3){flex: 110;}
.mainPage .infoArea .boardBox :is(.board-top *, .board-center li > *, .board-bottom *):nth-child(4){flex: 110;}
.mainPage .infoArea .boardBox :is(.board-top *, .board-center li > *, .board-bottom *):nth-child(5){flex: 70;}
.mainPage .infoArea .boardBox .board-center{max-height: 336px; overflow: auto;}
.mainPage .infoArea .boardBox .board-center::-webkit-scrollbar{ 
    /* scrollbar 전체 설정 */
    width: 6px;    
    /* 세로 스크롤의 가로 크기 */
    /* 가로 스크롤의 세로 크기 */
}
.mainPage .infoArea .boardBox .board-center::-webkit-scrollbar-track{width: 5px;}
.mainPage .infoArea .boardBox .board-center::-webkit-scrollbar-thumb{
    width: 6px;
    background-color: rgba(99, 99, 99, 0.5);
    border-radius: 5px;
    /* 드래스할 수 있는 스크롤 손잡이 (scrollbar) */
}



